body {
  background: #f2f5f7;
  font-family: "Roboto", sans-serif;
  color: #003a63;
  height: 100%;
  font-size: 16px;
  font-weight: bold;
}
#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.content {
  flex: 1;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;
  @media only screen and (min-width: 576px) {
    max-width: 540px;
  }
  @media only screen and (min-width: 768px) {
    max-width: 720px;
  }
  @media only screen and (min-width: 1170px) {
    max-width: 1150px;
  }
  @media only screen and (min-width: 1440px) {
    max-width: 1410px;
  }
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  text-align: center;
  img {
    width: 100%;
    max-width: 290px;
  }
  h1 {
    font-family: "Share Tech Mono", monospace;
  }
  @media only screen and (min-width: 576px) {
    padding-top: 200px;
  }
}
.wrapper {
  padding-bottom: 20px;
  &__column-form {
    background: #fff;
    padding-top: 20px;
  }
  &__metadata-form {
    padding-bottom: 40px;
  }
}

.logos {
  display: flex;
}

.hide-text {
  overflow: hidden;
  padding: 0; /* 1 */
  text-indent: 101%;
  white-space: nowrap;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.text {
  &--center {
    text-align: center;
  }
}
