.form-column {
  margin-bottom: 20px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0;
  }

  &__name {
    flex-grow: 3;
    & > div {
      padding-top: 5px;
    }
  }
  &__select {
    & > div {
      padding-top: 5px;
    }
  }

  &-description {
    &__label {
      display: flex;
      justify-content: space-between;
      padding-bottom: 5px;
    }

    &__indicator {
      color: #cccccc;
    }

    &__input {
      margin-bottom: 20px;
    }
  }

  @media only screen and (min-width: 576px) {
    &__wrapper {
      flex-direction: row;
    }
  }
}
