footer {
    border-top: 1px solid #CCCCCC;
    font-size: 12px;
    font-weight: normal;

}
.footer--logo {
    display: flex;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #636B6D;
}

.footer--logo img {
    height: 36px;
}
.footer--logo > div {
    margin: auto 0;
}
.wrapper__footer {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #D5DBE3;
}

.wrapper__footer .container {
    display: flex;
    justify-content: space-between;
}
.wrapper__footer img {
    height: 18px;
}
.wrapper__footer a {
    text-decoration: none;
    color: #003A63;
}
.footer--vertical {
    border: 1px solid #636B6D;;
    transform: rotate(-90deg);
    margin-left: 10px;
    margin-right: 10px;
}

