select {
  border: 1px solid #d5dbe3;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  font-size: 16px;
  background: #ffffff url("../images/arrow-dow.svg") no-repeat 100% !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-right: calc(10px + 40px);
  cursor: pointer;
}
input {
  background: #ffffff;
  border: 1px solid #d5dbe3;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  font-size: 16px;
}
label {
  display: inline-block;
  padding-bottom: 5px;
}

ul {
  list-style: none;
  counter-reset: chapter;
  margin: 0;
  padding: 0;
}
li {
  counter-increment: chapter;
  border-top: 2px solid #d5dbe3;
  position: relative;
}
li::before {
  content: counter(chapter, upper-alpha);
  background: #d5dbe3;
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  color: #2e5d7f;
  text-align: center;
  vertical-align: middle;
  border-radius: 0px 0px 5px 0px;
  padding: 9px 14px 10px 14px;
}
li::after {
  content: "Sloupec";
  display: inline-block;
  position: absolute;
  top: 9px;
  left: 48px;
}

ul li:first-child {
  margin-top: 20px;
}

.form-upload {
  display: flex;
  flex-direction: column;
}
.form-upload__input {
  background: #ffffff;
  box-shadow: -5px -10px 20px rgba(0, 0, 0, 0.04),
    5px 10px 20px rgba(0, 0, 0, 0.07);
  border-radius: 5px;
  padding: 20px;
  margin: 20px 0px;
  display: flex;
  justify-content: space-between;
}
.form-upload__menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form-upload__selects {
  display: flex;
  gap: 30px;
}
.form-upload img {
  vertical-align: bottom;
}
.form-upload img:first-child {
  padding-right: 10px;
}
.form-upload img:nth-child(2) {
  cursor: pointer;
}

.form-column {
  padding-bottom: 40px;
}

.form-column__heading {
  margin-bottom: 0;
}

.form-column__wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0;
}
.form-column__header {
  border-top: 2px solid #d5dbe3;
}
.form-column__header div {
  background: #d5dbe3;
  border-radius: 0px 0px 5px 0px;
  display: inline-block;
  padding: 10px 15px;
  margin-right: 10px;
}
.form-column__name {
  flex-grow: 3;
}
.form-column__description {
  margin-top: 20px;
}

.form-buttons {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.form-validate {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.form-validate p {
  color: #2a2a2a;
  opacity: 0.4;
  padding-bottom: 10px;
  font-weight: normal;
}

@media only screen and (min-width: 576px) {
  .form-upload__menu {
    flex-direction: row;
    justify-content: space-between;
  }
  .form-column__wrapper {
    flex-direction: row;
  }
  .form-buttons {
    flex-direction: row;
  }
}
